name: Publish Docker image

on:
  push:
    branches:
      - main
    paths:
      - 'Dockerfile'
      - 'pom.xml'
      - 'src/**'
      - '.github/workflows/up.yml'

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/modulo3-lambda:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/modulo3-lambda:${{ github.run_number }}
